*{
 padding: 0;
 margin: 0;
}


.btn{
 margin-top: 30px;
 background-color: rgb(51, 51, 51);
 color: white;
 font-weight: 700;
 cursor: pointer;
}

.outer-container-registration {
 height: 100vh;
 padding-top: 60px;
}

.inner-container-registration {
 width: 50%;
 align-items: center;
 justify-content: center;
 margin: auto;
 background-color: rgb(233, 232, 232);
 padding-top: 30px;
 padding-bottom: 30px;
}

.inner-container-registration h1 {
 text-align: center;
}

.inner-container-registration p {
margin-top: 30px;
text-align: center;
}

.inner-container-registration form {
display: flex;
flex-direction: column;
gap: 10px;
width: 50%;
margin: auto;
margin-top: 30px;
}

.inner-container-registration form input {
padding: 10px 15px;
border-radius: 4px;
outline: none;
}

nav {
 display: flex;
 justify-content: space-between;
 padding: 20px 60px;
 z-index: 10;
 background-color: rgb(243, 243, 243);
 border-bottom: 1px solid rgb(206, 203, 203);
}

nav a {
 text-decoration: none;
}

nav h2 {
 color: rgb(78, 78, 78);
 cursor: pointer;
}

nav button {
 padding: 10px 15px;
 background-color: rgb(51, 51, 51);
 color: white;
 cursor: pointer;
}